<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="org.xbmc.kodi.danmaku.app.DanmakuSettingsActivity"
            android:exported="false"
            android:theme="@style/DanmakuSettingsTheme" />
    </application>
</manifest>
